.tabela {
    width: 100%;
    max-width: 10000px;
    background-color: #382bf2fb;
    border-style: solid;
    border-color: #ee1313;
    
}

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery img {
    border: 10px solid rgb(225, 15, 15);
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    cursor: pointer;
    border-collapse: 110px;
    
}

.sla{
display:flex;
}

  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(192, 195, 195, 0.396);
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    max-width: 450%;
    max-height: 800%;
    overflow: hidden; /* Impede que a imagem se estenda além do contêiner */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-image {
    max-width: 100%; /* Controla o tamanho máximo da imagem ampliada */
    max-height: 100%; /* Controla o tamanho máximo da imagem ampliada */
  }
