/* corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #009ee7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*  ocupar pelo menos 100% da altura da tela */
}

/* Estilo para o título */
h2 {
    text-align: center;
    margin-top: 20px;
}

/* Estiliza  imagens */
img {
border: 10px solid rgb(240, 20, 20);
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px; /* para colocar borda arredondada */
   
}

/* Estilo para os links */
a {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #d81812;;
    text-decoration: none;
    margin-bottom: 10px;
}

/* cor do link quando passa o mouse */
a:hover {
    color: #6fda4e;
}

/* Espaçamento restaurantes */
a + img {
    margin-top: 10px;
}

/* Estiliza  o rodapé */
footer {
    text-align: center;
    background-color: #1ae676;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

/*   rodapé em telas menores */
@media (max-width: 768px) {
    footer {
        position: static;
    }
}
