/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #e0a6f1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos 100% da altura da tela */
}

/* Estilo para o título */
h2 {
    text-align: center;
    margin-top: 20px;
}

/* Estilo para as imagens */
img {

    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px; /* Adiciona borda arredondada */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}

/* Estilo para os links */
a {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #d81812;;
    text-decoration: none;
    margin-bottom: 10px;
}

/* Estilo para os links quando passa o mouse */
a:hover {
    color: #6fda4e;
}

/* Espaçamento entre os restaurantes */
a + img {
    margin-top: 10px;
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    background-color: #1ae676;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

/* Responsividade para o rodapé em telas menores */
@media (max-width: 768px) {
    footer {
        position: static;
    }
}
