*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(4, 45, 179);
}
header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #000;
}
h1{
    text-align: center;

}
p{
    text-align: justify;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}
.gallery-items{
    width: 340px;
    height: 340px;
    border: 10px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}
.gallery-items fotos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover{
    transform: scale(1.3);
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-style: italic;
}
